@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --radius-5xl: 20rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-amatic: var(--font-amatic-sc);
  --font-arsenal: var(--font-arsenal);
  --font-open: var(--font-open-sans);
  --font-rosario: var(--font-rosario);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
